.main {
  margin-top: 30px;
}

.supported img {
  width: 64px;
  padding-left: 5px;
  vertical-align: middle;
}

td.link {
  padding: 0px;
}

td.link img {
  width: 64px;
}

.playlist.title {
  cursor: pointer;
}

table.playlist tbody tr {
  cursor: pointer;
}

table.playlist tbody tr:hover {
  background-color: #DFDFDF;
}

table.playlist tbody tr.playing {
  background-color: #f6f6f6;
  font-weight: bold;
}

table.playlist tr td:first-child, table.playlist tr th:first-child {
  padding-left: 20px;
}

#player {
  z-index: 1000;
  margin: -200px;
}
