<div class="container">
  <div class="row"></div>
  <div class="row">
    <h2 class="playlist title" ng-hide="nameChangeable" ng-bind="playlist.name" ng-click="changeName(true)"></h2>
    <input class="u-full-width" ng-blur="changeName(false)" ng-keyup="$event.keyCode == 13 && changeName(false)"
           ng-show="nameChangeable" type="text" ng-model="playlist.name">
    <a class="button" href="#/player/{{playlist.$id}}" target="_blank">Open player</a>
    <button class="button" clip-copy="link" clip-click="share()">Share playlist</button>
  </div>
  <div class="row">
    <form ng-submit="add(url)">
      <div class="row">
        <div class="six columns">
          <input class="u-full-width" type="text" ng-model="url" placeholder="https://www.youtube.com/watch?v=3a4ecZHyoao">
        </div>
        <div class="six columns">
          <input class="button-primary" type="submit" value="Add">
        </div>
      </div>
    </form>
    <cmagg-playlist items="items" player="player"/>
  </div>
</div>
